<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.socketserver.thrack.dao.DtuDeviceDAO">

    <!--dtu设备表基本信息-->
    <sql id="dtuDeviceColumns">
        T1."ID" AS id,
        T1."POWERSTATION_ID" as powerstationId,
        T1."MODEL" AS model,
        T1."AUTH_KEY" as authKey,
        T1."STATUS" AS status,
        T1."PARITY" AS parity,
        T1."SERIES_RATE" as seriesRate,
        T1."MTIME",
        T1."CTIME"
    </sql>

    <!--通过dtuId获取dtu基本信息-->
    <select id="getDtuDeviceById" resultType="com.socketserver.thrack.model.device.TabDtuDevice">
        SELECT
          <include refid="dtuDeviceColumns"/>
        FROM "TS_DTU_DEVICE" T1
        <where>
            T1."ID" = #{dtuId}
        </where>
    </select>


    <!--通过authKey获取dtu基本信息-->
    <select id="getDtuDeviceByAuthKey" resultType="com.socketserver.thrack.model.device.TabDtuDevice">
        SELECT
        <include refid="dtuDeviceColumns"/>
        FROM "TS_DTU_DEVICE" T1
        <where>
            T1."AUTH_KEY" = #{authKey}
            and T1."STATUS" = 0
            AND ROWNUM <![CDATA[ < ]]> 2
        </where>
    </select>

</mapper>