<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.socketserver.thrack.dao.DtuDeviceDAO">

    <!--dtu设备表基本信息-->
    <sql id="dtuDeviceColumns">
        t1."id",
        t1."powerplant_id" as powerplantId,
        t1."model",
        t1."auth_key" as authKey,
        t1."status",
        t1."parity",
        t1."series_rate" as seriesRate,
        t1."mtime",
        t1."ctime"
    </sql>

    <!--通过dtuId获取dtu基本信息-->
    <select id="getDtuDeviceById" resultType="com.socketserver.thrack.model.device.TabDtuDevice">
        SELECT
          <include refid="dtuDeviceColumns"/>
        FROM "ts_dtu_device" t1
        <where>
            t1."id" = #{dtuId}
        </where>
    </select>


    <!--通过authKey获取dtu基本信息-->
    <select id="getDtuDeviceByAuthKey" resultType="com.socketserver.thrack.model.device.TabDtuDevice">
        SELECT
        <include refid="dtuDeviceColumns"/>
        FROM "ts_dtu_device" t1
        <where>
            t1."auth_key" = #{authKey}
            and t1."status" = 0
            AND ROWNUM <![CDATA[ < ]]> 2
        </where>
    </select>

</mapper>