<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.socketserver.thrack.dao.InverterDeviceDAO">

    <!--dtu的逆变器表基本信息-->
    <sql id="inverterDeviceColumns">
        T1."ID" as inverterId,
        T1."INVERTER_ADDR" as inverterAddr,
        T1."DTU_ID" as dtuId,
        T1."MTIME" as mtime,
        T1."STATUS" as status,
        T1."CTIME" as ctime,
        T1."INVERTER_TYPE" as inverterType,
        T1."VERSION" as version,
        T1."PHASE_TYPE" as phaseType,
        T1."POWER_SIZE" as powerSize
    </sql>

    <!--通过dtuId 获取dtu下关联的有效设备,并返回inverterId(逆变器地址)-ClientInverterStats的map集合-->
    <select id="getInverterStatsMap" resultType="com.socketserver.thrack.server.client.ClientInverterStats">
        SELECT
          <include refid="inverterDeviceColumns"/>
        FROM "TS_INVERTER_DEVICE" T1
        <where>
            T1."STATUS" = 0
        and T1."DTU_ID" = #{dtuId}
        </where>
    </select>


</mapper>