<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socketserver.thrack.dao.UserDeviceDAO">

	<!-- 通过machine_id 获取到一条有效数据(正常情况下只有一条有效) -->
	<select id="getUserDeviceByMachineId" resultType="com.socketserver.thrack.model.userdevice.TabUserDevice">
		select id, user_id as userId, device_id as deviceId, machine_id as machineId, 
		   	   device_num deviceNum, status, longitude, latitude, 
			   last_longitude as lastLongitude, last_latitude as lastLatitude, 
			   last_strategy_value as lastStrategyValue, 
			   soft_version as softVersion, ctime, mtime 
		from ts_user_device 
		where machine_id = #{machineId} 
		  and status=0
		limit 1 
	</select>

	
	<!-- 批量更新设备状态 -->
	<update id="updateMachineStatus">
		update ts_user_device set status = #{status}
		where machine_id in
		<foreach item="item" index="index" collection="machineIdList" open="("
			separator="," close=")">
			#{item}
		  </foreach>
	</update>
	

</mapper>